.home-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
     /* min-height: 570px;  */
    /* background-image: url('../../assets//Home/bg.jpg');  */

} 

/* .container{
    background-image: url('../../assets//Home/bg3.jpg'); 
    box-sizing: content-box;

} */

.ab-con{
    background-image: url('../../assets//Home/bg.jpg');
    margin-top: -150px;

}

@media screen and (max-width:810px){
    .home-container{
        margin-top: -300px;
        /* height: 100vh !important;  */

    }

}